<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/currency" method = "POST">
        <label for="amount">Enter Amount:</label>
        <input type="number" id="amount" name="amount" required>
        <label for="fromCurrency">From Currency:</label>
        <select id="fromCurrency" name="fromCurrency" required>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>
        <label for="toCurrency">To Currency:</label>
        <select id="toCurrency" name="toCurrency" required>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>
        <input type="submit" value="Convert">
    </form>
    <%= convertedCurrency %>
</body>
</html>